@import 'reset';


$brown        : #594F4F;
$darkGreen    : #547980;
$green        : #45ADA8;
$lightGreen   : #9DE0AD;
$lighterGreen : #E5FCC2;

$spacing: 20px;


body {
	font-family: helvetica;
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	$color: #9DE0AD;
	padding: 5px;
	width: 100px;
	height: 40px;
	background: $color;
	outline: none;
	border: none;
	color: darken($color, 60%);
	margin: 0 $spacing;
	font-size: 17px;

	&:active {
		background: darken($color, 60%);
		color: $color;
	}
}

h1 {
	font-size: 30px;
	padding: $spacing;
}

h2 {
	font-size: 15px;
}

.addPlayer {
	background: #aaa;
	color: #fff;
	padding: 5px;
}

.player-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.close {
  cursor: pointer;
}


.countryItem {
	display: flex;
	// justify-content: space-between;
	align-items: center;
	width: 50%;

	p {
		margin-left: 5px;
	}
}



.currentPicks {
	$height: 30px;
	$padding: 5px;
	background: #F6F6F6;
	display: flex;
	justify-content: space-around;

	ul {
		width: 150px;

		li {
			height: $height;
			padding: $padding 10px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #EEEEEE;
		}
	}

	.events {
		margin-top: 40px;
	}
}






.draft {
	margin-top: 20px;
}

.draftEvent {
	margin-top: 20px;

	.eventName {
		font-size: 30px;
		display: flex;
		justify-content: center;
		margin: 20px;
		color: #4F8EF1;
		transform: scale(1);
		transition: all 3s;

		&.animate {
			transform: scale(1);
		}
	}

	.pickerName {
		display: flex;
		justify-content: center;
		font-size: 23px;
	}

	.draftPlayers {
		$color: #45ADA8;
		display: flex;
		justify-content: center;
		margin-top: 20px;
		background: $color;
		height: 50px;

		.remainingPickers {
			font-size: 11px;
			padding: 20px;
			color: darken($color, 20%);
		}
	}

	.countries {
		margin: 40px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 800px;

		li {
			cursor: pointer;
			height: 30px;
			padding: 5px 10px;
			display: flex;
			align-items: center;

			&:hover {
				background: #eee;
			}
		}

	}
}




























