@import 'reset';



body {
	font-family: helvetica;
}

button {
	$color: #9DE0AD;
	padding: 5px;
	width: 100px;
	height: 40px;
	background: $color;
	outline: none;
	border: none;
	color: darken($color, 60%);
}

h1 {
	// font-size: 30px;
}

h2 {
	font-size: 15px;
}

.addPlayer {
	background: #aaa;
	color: #fff;
	padding: 5px;
}

.player-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.close {
  cursor: pointer;
}






.eventTable {
	display: flex;
	flex-direction: column;

	.eventName {
		font-size: 18px;
	}

	.picks {
		.country {
			color: brown;
		}

		.name {
			color: black;
		}
	}
}






.draft {
	margin-top: 20px;
}

.draftEvent {
	margin-top: 20px;

	.eventName {
		font-size: 30px;
		display: flex;
		justify-content: center;
		margin: 20px;
		color: #4F8EF1;
	}

	.pickerName {
		display: flex;
		justify-content: center;
		font-size: 23px;
	}

	.draftPlayers {
		$color: #45ADA8;
		display: flex;
		justify-content: center;
		margin-top: 20px;
		background: $color;

		.remainingPickers {
			font-size: 11px;
			padding: 20px;
			color: darken($color, 20%);
		}
	}

	

	.countries {
		margin: 40px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 600px;

		li {
			cursor: pointer;

			&:hover {
				background: #eee;
			}
		}
		
	}
}




























